extends ../layout/common

block content
    h1 trang user
    a(href="/users/create" ) tao moi 
    form(action="/users/search" method="GET")
        input( type="text" name="q")
        button Search
    ul
        each user in users 
            li
                a(href="/users/"+ user.id) id &nbsp
                span= user.name

