html
    head
        link(rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/styles/custom.css")
    body
        ul.navbar-nav
            li.nav-item.active
                a.nav-link(href='/')
                    | Home 
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='/users') Users



        block content

        footer